Update document to latest Metanorma

From https://github.com/metanorma/metanorma/issues/295 : this task is now urgent. 

@manuelfuenmayor @anermina please help. Thanks!

This is the output compiling with the windows (choco) package:

```
$ matanorma new prova -d rfc -t ietf
$ cd prova
$ metanorma -t ietf -x xml document.adoc
[relaton-ietf] ("RFC 2119") fetching...
[relaton-ietf] ("RFC 2119") found RFC 2119
[relaton-ietf] ("RFC 7991") fetching...
[relaton-ietf] ("RFC 7991") found RFC 7991
[relaton-ietf] ("RFC 8174") fetching...
[relaton-ietf] ("RFC 8174") found RFC 8174
[relaton-ietf] ("IETF.TLP") fetching...
[relaton-ietf] ("IETF.TLP") not found
[relaton-ietf] ("I-D.ribose-asciirfc-08") fetching...
[relaton-ietf] ("I-D.ribose-asciirfc-08") found draft-ribose-asciirfc-08
[relaton-ietf] ("RFC 3552") fetching...
[relaton-ietf] ("RFC 3552") found RFC 3552
[relaton-ietf] ("RFC 5378") fetching...
[relaton-ietf] ("RFC 5378") found RFC 5378
[relaton-ietf] ("RFC 7253") fetching...
[relaton-ietf] ("RFC 7253") found RFC 7253
Bibliography: (XML Line 000291): Reference RNP is missing a document identifier
(docid)
Crossreferences: (XML Line 000114): RNP does not have a corresponding anchor ID
in the bibliography!
Metanorma XML Style Warning: (XML Line 000065): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000072): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000138): Table should have title
Metanorma XML Syntax: (XML Line 000007:46): element "contributor" not allowed ye
t; missing required element "docidentifier"
Metanorma XML Syntax: (XML Line 000175:80): attribute "inline-header" not allowe
d here; expected attribute "language", "numbered", "obligation", "removeInRFC",
"script" or "toc"
```

And this is the contento of document.err

```
./document.err errors


== Bibliography

(XML Line 000291): Reference RNP is missing a document identifier (docid)
        <clause id="_rnp_a_c_library_approach_to_openpgp" inline-header="false" bibitem="true" obligation="informative">

        <dl id="_aa947d5c-d6da-4648-bbbb-7dafd98dd7cf"><dt>id</dt>

        <dt>contributor</dt>


== Crossreferences

(XML Line 000114): RNP does not have a corresponding anchor ID in the bibliography!
        <eref target="RNP" type="inline" bibitemid="RNP" citeas=""/>


== Metanorma XML Style Warning

(XML Line 000065): Hanging paragraph in clause
        <clause id="main" inline-header="false" obligation="normative">
        <title>Main content</title>
        <p id="_4d5ec47e-6958-0d17-e665-dc7fc6be196c">This is where you place the main content, and the following
        serves as a placeholder for your text.</p>

(XML Line 000072): Hanging paragraph in clause
        <clause id="_getting_started" inline-header="false" obligation="normative">
        <title>Getting started</title>
        <p id="_cecbbf3c-9d3d-43e9-6afd-83cc322dbf94">The Metanorma and RFC toolchains <bcp14>MUST</bcp14> be available locally to
        build this document template.</p>

(XML Line 000138): Table should have title
        <table id="_1d1d19b5-5b52-7aab-d831-95aeb3a0c47d"><thead><tr><th valign="top" align="left">Security issue</th>
        <th valign="top" align="left">Discussed in</th>
        </tr></thead>
        <tbody><tr><th valign="top" align="left">Confidentiality</th>
        <td valign="top" align="left"><eref type="inline" bibitemid="RFC3552" citeas="RFC 3552">2.1.1 of</eref></td>


== Metanorma XML Syntax

(XML Line 000007:46): element "contributor" not allowed yet; missing required element "docidentifier"
(XML Line 000175:80): attribute "inline-header" not allowed here; expected attribute "language", "numbered", "obligation", "removeInRFC", "script" or "toc"
```



@cisba, greetings.
Despite the content of document.err, did the document.xml file get built? 

Yes, but I don't know if the XML is good as expected.

On Wed, Jun 7, 2023, 19:34 Manuel Fuenmayor ***@***.***>
wrote:

> @cisba <https://github.com/cisba>, despite the content of document.err,
> did the document.xml file get built?
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/metanorma/mn-templates-ietf/issues/28#issuecomment-1581245249>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AASHMN5OTFSFCWD4N5OULGLXKC3SBANCNFSM6AAAAAAY5YNMJA>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>


> Yes, but I don't know if the XML is good as expected.

Hi @cisba, ok.
Please use this version of the document: https://github.com/metanorma/mn-templates-ietf/pull/29

Try to execute:
````
bundle exec metanorma -t ietf -x html rfc/document.adoc
````

If you have a correct setting of Metanorma in your system, it should generate these files: `document.rfc.xml`, `document.html`, and `document.err`.

```
$ git clone https://github.com/metanorma/mn-templates-ietf.git
$ git switch -c correct-anchor origin/correct-anchor 
$ bundle exec metanorma -t ietf -x html rfc/document.adoc
[relaton] (IETF.TLP) not found.
Bibliography: (XML Line 000291): Reference RNP is missing a document identifier
(docid)
Crossreferences: (XML Line 000114): RNP does not have a corresponding anchor ID
in the bibliography!
Metanorma XML Style Warning: (XML Line 000065): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000072): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000138): Table should have title
Metanorma XML Syntax: (XML Line 000007:46): element "contributor" not allowed ye
t; missing required element "docidentifier"
Metanorma XML Syntax: (XML Line 000175:80): attribute "inline-header" not allowe
d here; expected attribute "language", "numbered", "obligation", "removeInRFC",
"script" or "toc"
 Created file C:/Users/ecisbani/devel/mn-templates-ietf/rfc/document.html

$ cat rfc/document.err
rfc/document.err errors


== Bibliography

(XML Line 000291): Reference RNP is missing a document identifier (docid)
        <clause id="RNP" inline-header="false" bibitem="true" obligation="informative">

        <dl id="_ad2b406e-cae2-4e34-849c-20ee019b1732"><dt>id</dt>

        <dt>contributor</dt>


== Crossreferences

(XML Line 000114): RNP does not have a corresponding anchor ID in the bibliography!
        <eref target="RNP" type="inline" bibitemid="RNP" citeas=""/>


== Metanorma XML Style Warning

(XML Line 000065): Hanging paragraph in clause
        <clause id="main" inline-header="false" obligation="normative">
        <title>Main content</title>
        <p id="_4d5ec47e-6958-0d17-e665-dc7fc6be196c">This is where you place the main content, and the following
        serves as a placeholder for your text.</p>

(XML Line 000072): Hanging paragraph in clause
        <clause id="_getting_started" inline-header="false" obligation="normative">
        <title>Getting started</title>
        <p id="_cecbbf3c-9d3d-43e9-6afd-83cc322dbf94">The Metanorma and RFC toolchains <bcp14>MUST</bcp14> be available locally to
        build this document template.</p>

(XML Line 000138): Table should have title
        <table id="_1d1d19b5-5b52-7aab-d831-95aeb3a0c47d"><thead><tr><th valign="top" align="left">Security issue</th>
        <th valign="top" align="left">Discussed in</th>
        </tr></thead>
        <tbody><tr><th valign="top" align="left">Confidentiality</th>
        <td valign="top" align="left"><eref type="inline" bibitemid="RFC3552" citeas="RFC 3552">2.1.1 of</eref></td>


== Metanorma XML Syntax

(XML Line 000007:46): element "contributor" not allowed yet; missing required element "docidentifier"
(XML Line 000175:80): attribute "inline-header" not allowed here; expected attribute "language", "numbered", "obligation", "removeInRFC", "script" or "toc"


```

@ronaldtse, I think this task is done.
The (HTML) document seems to generate just fine:
```
$ bundle exec metanorma -t ietf -x html rfc/document.adoc
[relaton] (IETF.TLP) not found.
Bibliography: (XML Line 000291): Reference RNP is missing a document identifier (docid)
Metanorma XML Style Warning: (XML Line 000065): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000072): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000138): Table should have title
Metanorma XML Syntax: (XML Line 000007:46): element "contributor" not allowed yet; missing required element "docidentifier"
Metanorma XML Syntax: (XML Line 000175:80): attribute "inline-header" not allowed here; expected attribute "language", "numbered", "obligation", "removeInRFC", "script" or "toc"
 Created file D:/Trabajo/Metanorma/mn-templates-ietf/rfc/document.html
```
(Although I still don't understand that message: `Reference RNP is missing a document identifier (docid)`. The cross-reference is working correctly in output. Ping @opoudjis.) 

The only action left to do is approve this PR: https://github.com/metanorma/mn-templates-ietf/pull/30.

Done.